<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG suite">
    <test name="Sample tests">
        <parameter name="username" value="userManju">
            <parameter name="password" value="BoysAdda">
                <classes>
                    <class name="builderPatterns.ResponseDeserializationTest"></class>
                </classes>
            </parameter>
        </parameter>
    </test>
</suite>